.approach{
    min-height: 980px;
    background: #C7C7C7;
    &__title{
        margin-bottom: 0;
        color:#121212;
        &_modal{
            text-align: center;
            font-size: 25px;
            color:#121212;
        }
    }
    &__container{
        min-height: 700px;
        margin-top: 70px;
        display: flex;
    }
    &__list{
        width: 50%;
        color:#121212;
    }
    &__list{
        margin-top: 0;
        margin-bottom: 0;
        min-height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;

        list-style-type: none;
        text-align: center;
        font-size: 25px;
        li{
            width: 95%;
            display: flex;
            flex-direction: column;
            align-items: center;
            &:nth-child(3){
                &::after{
                    display: none;
                }
            }
        }
        li::after{
            margin-top: 35px;
            background-size: contain;
            width: 50px;
            height: 100px;
            display: block;
            content: '';
            background-image: url('../../images/arrow.png');
        }
    }
    &__button{
        margin-top: 50px;
        margin-bottom: 0;
    }
    &__photo{
        width: 50%;
        background-image: url('../../images/approach-face.JPG');
        background-size: cover;
        background-position-x: -320px;
    }

    &__modal{
        display: none;
        position:fixed;
        z-index: 5;
        top: 0;
        width: 100%;
        background: inherit;
        min-height: 100%;
        // display: flex;
    }
    &__text{
        &_modal{
            font-size: 18px;
            color: #121212;
        }
    }
}


@media (max-width: 1250px){
    .approach{
        &__list{
            font-size: 23px;
        }
    }
}

@media (max-width: 992px){
    .approach{
        min-height: 935px;
        position: relative;
        &__container{
            max-height: 575px;
            &_modal{
                max-width: 565px !important;
            }
        }
        &__list{
            width: 100%;
        }
        &__list{
            padding-left: 0;
            li::after{
                margin-top: 75px;
            }
        }
        &__button{
            margin-top: 0;
        }
        &__photo{
            display: none;
        }
        &__title{
            &_modal{
                font-size: 22px;
            }
        }
        &__modal{
            position: absolute;
            top: 0;
            padding-top: 50px;
            padding-bottom: 50px;

        }
        &__text{
            &_modal{
                font-size: 16px;
                text-align: justify;
                display: block;
            }
        }
    }
}

@media (max-width: 576px){
    .approach{
        min-height: 640px;
        &__container{
            min-height: 420px;
            &_modal{
                max-width: 310px !important;
            }
        }
        &__list{
            font-size: 18px;
            li::after{
                margin-top: 25px;
                width: 28px;
                height: 55px;
            }
        }
        &__text{
            &_modal{
                font-size: 15px;
            }
        }
        &__modal{
            padding-top: 100px;
            padding-bottom: 100px;
        }
    }
}