.consultation{
    background: linear-gradient(to top, #121212 0%,#121212 50%, #121212 50%,#C7C7C7 50%,#C7C7C7 100%);
    min-height: 804px;
    position: relative;
    &__title{
        margin-bottom: 0;
        color:#121212;
        font-size: 33px;
        margin-bottom: 25px;
        text-align: center;
    }
    &__slider-global{
        width: 80%;
        margin: auto;
    }
    &__slider{
        margin-top: 65px;
    }
    &__item{
        width: 370px;
        margin: auto;
        display: flex !important;
        flex-direction: column;
        align-items: center;
        z-index: 100;
        outline: none;
    }
    &__content{
        display: flex;
        flex-direction: column;
        align-items: center;
        border: 3px solid;
        background: #C7C7C7;
    }
    &__image{
        width: 70%;
    }
    &__label{
        font-size: 27px;
        color: #121212;
    }
    &__modal{
        position: absolute;
        top: 0;
        height: 100%;
        width: 100%;
        background-color: #C7C7C7;
        z-index: 110;
        display: none;
        flex-direction: column;
        align-items: center;
    }
    &__text{
        color:#121212;
        font-size: 21px;
        display: block;
        width: 80%;
        margin-top: 10px;
        text-align: justify;
    }
}

@media (min-width: 992px){
    .consultation{
        &__modal{
            height: 100vh;
        }
    }
}

@media (max-width: 992px){
    .consultation{
        min-height: 714px;
        &__content{
            width: 395px;
        }
        &__image{
            width: 65%;
        }
        &__label{
            font-size: 24px;
        }
        &__modal{
            height: 130%;
        }
    }
}

@media (max-width: 768px){
    .consultation{
        min-height: 655px;
        &__slider-global{
            width: 100%;
        }
        &__content{
            width: 320px;
        }
        &__image{
            margin-top: 20px;
            width: 55%;
        }
        &__modal{
            height: 101%;
        }
    }
}

@media (max-width: 576px){
    .consultation{
        min-height: 714px;
        &__content{
            width: 250px;
            min-height: 460px;
            justify-content: space-around;
        }
        &__label{
            font-size: 18px;
        }
        &__button{
            width: 200px;
            height: 40px;
            font-size: 18px;
        }
        &__modal{
            height: 105%;
        }
        &__title{
            font-size: 28px;
        }
        &__text{
            font-size: 16px;
        }
    }
}