.work{
    background: #121212;
    &__container{
        padding-bottom: 50px;
        width: 95%;
        margin: auto;
    }
    &__title{
        margin-top: 0;
        margin-bottom: 50px;

        color: #C7C7C7;
    }
}


@media (max-width: 578px){
    .work{
        &__container{
            width: 100%;
            // max-width: 100%;
        }
    }
}