.modal-section{
    position: relative;
    &__container{
        min-height: 700px;
        max-height: 1200px;
        display: flex;
        justify-content: center
    }
}

.modal-body{
    background-color: #121212 !important;
}


@media (max-width: 576px){
    .modal-section{
        &__container{
            min-height: 100vh;
            max-height: 130vh;
        }
    }
}