.work-info{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 130px;
    &__item{
        display: flex;
        flex-direction: column;
        align-items: center;
        position: relative;
        cursor: pointer;
        min-height: 398px;  
        &:after{
            bottom: 45px;
            height: 90%;
        }
    }
    &__img{
        width: 100%;
        min-height: 400px;
        max-height: 410px;
        position: relative;
        display: block;
    }
    &__label{   
        font-size: 28px;
        text-align: center;
        margin-top: 15px;
        color: #C7C7C7;

        cursor: pointer;

        display: flex;
        flex-direction: column;

    }
}



@media (max-width: 1250px){
    .work-info{
        &__img{
            min-height: 320px;
            max-height: 330px;
        }
        &__item{
            &:after{
                bottom: 75px;
                height: 81%;
            }
        }
    }
}

@media (min-width: 1251px){
    .work-info{
        &__item{
            &:after{
                bottom: 45px;
                height: 90%;
            }
        }
    }
}


@media (min-width: 993px){
    .work-info{
        &__item{
            min-height: 398px;
        }
    }
}


@media (max-width: 992px){
    .work-info{
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 50px;
        &__img{
            width: 500px;
            min-height: 290px;
            max-height: 300px;
        }
        &__item{
            &_desktop{
                display: none;
            }
        }
    }
}

@media (max-width: 576px){
    .work-info{
        grid-gap: 0px;
        &__item{
            min-height: 330px;
        }
        &__img{
            width: 300px;
            min-height: 210px;
            max-height: 220px;
        }
        &__label{
            width: 300px;
            font-size: 23px;
        }
    }
}