.face {
  width: 100%;
  min-height: 100vh;
  background-image: url("../../images/face-image.JPG");
  background-size: cover;
}

.face__tagline {
  position: absolute;
  bottom: 0;
  right: 50px;
  font-size: 40px;
  font-style: italic;
}

@media (max-width: 768px) {
  .face {
    background-position-x: -225px;
  }
  .face__tagline {
    font-size: 34px;
  }
}

@media (max-width: 576px) {
  .face__tagline {
    font-size: 25px;
  }
}

.contacts {
  width: 100%;
  background-color: black;
}

.contacts__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 8px;
  padding-bottom: 8px;
}

.contacts__link {
  text-decoration: none;
  color: #fff;
  font-size: 20px;
}

@media (max-width: 992px) {
  .contacts {
    display: none;
  }
}

.navigation {
  background-color: #b4b659;
  mix-blend-mode: multiply;
  min-height: 165px;
  max-height: 170px;
}

.navigation__container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
}

.navigation__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-decoration: none;
  font-size: 26px;
  font-weight: bold;
  color: #000;
}

.navigation__link:hover {
  background-color: #000;
  color: #ffffff;
}

@media (max-width: 992px) {
  .navigation__container {
    display: none;
  }
}

@media (max-width: 768px) {
  .navigation {
    min-height: 110px;
    max-height: 120px;
  }
}

.header {
  position: absolute;
  top: 90px;
  font-size: 65px;
  display: inline-block;
}

.header_white {
  margin-left: 180px;
  color: #fff;
}

@media (max-width: 992px) {
  .header {
    top: 20px;
  }
}

@media (max-width: 768px) {
  .header {
    font-size: 45px;
    left: 15px;
  }
  .header_white {
    margin-left: 120px;
  }
}

@media (max-width: 576px) {
  .header {
    font-size: 40px;
    left: 15px;
  }
  .header_white {
    margin-left: 110px;
  }
}

@media (min-width: 993px) {
  .hamburger-menu {
    display: none;
  }
}

.menu__box {
  display: block;
  position: fixed;
  visibility: hidden;
  top: 0;
  left: -100%;
  width: 300px;
  height: 100%;
  margin: 0;
  padding: 0 0;
  list-style: none;
  text-align: center;
  background-color: #121212;
  -webkit-box-shadow: 1px 0px 6px rgba(0, 0, 0, 0.2);
          box-shadow: 1px 0px 6px rgba(0, 0, 0, 0.2);
  z-index: 2;
}

.menu__item {
  display: block;
  padding: 24px 24px;
  color: #C7C7C7;
  font-family: 'Roboto', sans-serif;
  font-size: 35px;
  font-weight: 600;
  text-decoration: none;
  border-bottom: 1px solid #C7C7C7;
}

.menu__item_contacts {
  width: 70%;
  margin: auto;
  border-bottom: 0px solid #C7C7C7;
  border: 0px solid #fff;
}

.menu__item_mail {
  margin: 0;
  font-size: 22px;
}

.menu__item:hover {
  background-color: #CFD8DC;
}

.menu__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: fixed;
  top: 20px;
  right: 30px;
  width: 26px;
  height: 26px;
  cursor: pointer;
  z-index: 1;
}

.menu__btn > span,
.menu__btn > span::before,
.menu__btn > span::after {
  display: block;
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #000;
}

.menu__btn > span::before {
  content: '';
  top: -8px;
}

.menu__btn > span::after {
  content: '';
  top: 8px;
}

.menu__btn > span,
.menu__btn > span::before,
.menu__btn > span::after {
  -webkit-transition-duration: .25s;
          transition-duration: .25s;
}

.menu__box {
  -webkit-transition-duration: .25s;
          transition-duration: .25s;
}

.menu__item {
  -webkit-transition-duration: .25s;
          transition-duration: .25s;
}

#menu__toggle {
  opacity: 0;
}

#menu__toggle:checked ~ .menu__btn > span {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

#menu__toggle:checked ~ .menu__btn > span::before {
  top: 0;
  -webkit-transform: rotate(0);
          transform: rotate(0);
}

#menu__toggle:checked ~ .menu__btn > span::after {
  top: 0;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

#menu__toggle:checked ~ .menu__box {
  visibility: visible;
  left: 0;
}

@media (max-width: 576px) {
  .menu__box {
    width: 240px;
  }
  .menu__item {
    font-size: 20px;
  }
  .menu__item_mail {
    font-size: 17px;
  }
}

.work-info {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  grid-gap: 130px;
}

.work-info__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  cursor: pointer;
  min-height: 398px;
}

.work-info__item:after {
  bottom: 45px;
  height: 90%;
}

.work-info__img {
  width: 100%;
  min-height: 400px;
  max-height: 410px;
  position: relative;
  display: block;
}

.work-info__label {
  font-size: 28px;
  text-align: center;
  margin-top: 15px;
  color: #C7C7C7;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (max-width: 1250px) {
  .work-info__img {
    min-height: 320px;
    max-height: 330px;
  }
  .work-info__item:after {
    bottom: 75px;
    height: 81%;
  }
}

@media (min-width: 1251px) {
  .work-info__item:after {
    bottom: 45px;
    height: 90%;
  }
}

@media (min-width: 993px) {
  .work-info__item {
    min-height: 398px;
  }
  .work-info__item:hover:after {
    opacity: 1;
  }
  .work-info__item:after {
    background: -webkit-gradient(linear, left top, left bottom, color-stop(15.14%, #ADB00C), color-stop(30.17%, rgba(201, 203, 95, 0.658215)), color-stop(44.31%, rgba(213, 215, 131, 0.510417)), color-stop(55.36%, rgba(235, 237, 129, 0.495728)), color-stop(84.09%, rgba(255, 255, 255, 0))), -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0.25)), to(rgba(0, 0, 0, 0.25)));
    background: linear-gradient(180deg, #ADB00C 15.14%, rgba(201, 203, 95, 0.658215) 30.17%, rgba(213, 215, 131, 0.510417) 44.31%, rgba(235, 237, 129, 0.495728) 55.36%, rgba(255, 255, 255, 0) 84.09%), linear-gradient(0deg, rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25));
    content: '';
    position: absolute;
    left: 0;
    width: 100%;
    color: #fff;
    text-decoration: none;
    opacity: 0;
    -webkit-transition: opacity 0.3s;
    transition: opacity 0.3s;
    -webkit-transform: matrix(1, 0, 0, -1, 0, 0);
            transform: matrix(1, 0, 0, -1, 0, 0);
  }
}

@media (max-width: 992px) {
  .work-info {
    -ms-grid-columns: (1fr)[1];
        grid-template-columns: repeat(1, 1fr);
    grid-gap: 50px;
  }
  .work-info__img {
    width: 500px;
    min-height: 290px;
    max-height: 300px;
  }
  .work-info__item_desktop {
    display: none;
  }
}

@media (max-width: 576px) {
  .work-info {
    grid-gap: 0px;
  }
  .work-info__item {
    min-height: 330px;
  }
  .work-info__img {
    width: 300px;
    min-height: 210px;
    max-height: 220px;
  }
  .work-info__label {
    width: 300px;
    font-size: 23px;
  }
}

.work {
  background: #121212;
}

.work__container {
  position: relative;
  padding-bottom: 50px;
}

.work__title {
  margin-top: 0;
  margin-bottom: 50px;
  color: #C7C7C7;
}

.button {
  margin: auto;
  display: block;
  margin-top: 50px;
  margin-bottom: 50px;
  width: 240px;
  height: 60px;
  text-transform: uppercase;
  color: black;
  background-color: #ADB00C;
  border: none;
  outline: none;
  font-size: 22px;
  font-weight: 600;
  cursor: pointer;
}

.button:hover {
  background-color: #7e8009;
}

.button_close {
  z-index: 10;
  position: absolute;
  color: white;
  font-weight: bold;
  float: right;
  font-size: 35px;
  line-height: 20px;
  cursor: pointer;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  right: 15px;
  margin-top: 15px;
}

.button_close:hover {
  color: black;
}

@media (max-width: 992px) {
  .button_close {
    right: 120px;
  }
}

@media (max-width: 768px) {
  .button_close {
    right: 80px;
  }
}

@media (max-width: 576px) {
  .button {
    margin-top: 0;
    margin-bottom: 0;
  }
  .button_close {
    right: 70px;
  }
  .button_modal {
    margin-top: 20px;
  }
}

@media (max-width: 440px) {
  .button_modal {
    width: 180px;
  }
  .button_close {
    right: 50px;
  }
}

.work-modal {
  visibility: hidden;
  position: fixed;
  max-width: 1200px;
  background: #121212;
  top: 40px;
  width: 100%;
  z-index: 98;
}

.work-modal__slider {
  width: 100%;
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-align: center !important;
      -ms-flex-align: center !important;
          align-items: center !important;
  -webkit-box-pack: center !important;
      -ms-flex-pack: center !important;
          justify-content: center !important;
  padding-left: 10px;
  padding-right: 10px;
}

.work-modal__item {
  outline: none;
}

.work-modal__img {
  margin: auto;
  margin-top: 50px;
  min-height: 390px;
  max-height: 400px;
}

.work-modal__label {
  display: block;
  text-align: center;
  margin-top: 25px;
  color: #C7C7C7;
  font-size: 40px;
}

.work-modal__substrate {
  display: none;
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.6);
  position: fixed;
  top: 0;
  z-index: 20;
}

.slick-arrow {
  z-index: 100;
}

@media (max-width: 1250px) {
  .work-modal {
    max-width: 960px;
  }
  .work-modal__img {
    width: 570px;
  }
}

@media (max-width: 992px) {
  .work-modal {
    max-width: 750px;
    min-height: 80vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: auto;
  }
  .work-modal__img {
    width: 400px;
    min-height: 290px;
    max-height: 300px;
  }
  .work-modal__label {
    font-size: 25px;
  }
  .slick-arrow {
    width: 90px;
  }
}

@media (max-width: 768px) {
  .work-modal {
    max-width: 100%;
  }
  .work-modal__img {
    width: 300px;
    min-height: 220px;
  }
  .work-modal__label {
    font-size: 20px;
  }
  .slick-arrow {
    width: 60px;
  }
}

@media (max-width: 576px) {
  .work-modal {
    max-width: 100%;
    left: 0;
  }
  .work-modal__img {
    width: 220px;
    min-height: 130px;
    margin-top: 0;
  }
  .work-modal__label {
    font-size: 16px;
  }
  .slick-arrow {
    width: 35px;
  }
}

@media (max-width: 440px) {
  .work-modal {
    max-width: 100%;
    left: 0;
    right: 0;
  }
  .work-modal__img {
    width: 180px;
    min-height: 110px;
  }
  .work-modal__label {
    width: 180px;
    margin: auto;
    margin-top: 20px;
  }
  .slick-arrow {
    width: 35px;
  }
}

.underline {
  border: none;
  content: '';
  height: 4px;
  width: 370px;
  background: #ADB00C;
}

@media (max-width: 992px) {
  .underline {
    width: 235px;
  }
}

.approach {
  min-height: 980px;
  background: #C7C7C7;
}

.approach__title {
  margin-bottom: 0;
}

.approach__container {
  min-height: 700px;
  margin-top: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.approach__list {
  width: 50%;
}

.approach__list {
  margin-top: 0;
  margin-bottom: 0;
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style-type: none;
  text-align: center;
  font-size: 25px;
}

.approach__list li {
  width: 95%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.approach__list li:nth-child(3)::after {
  display: none;
}

.approach__list li::after {
  margin-top: 35px;
  background-size: contain;
  width: 50px;
  height: 100px;
  display: block;
  content: '';
  background-image: url("../../images/arrow.png");
}

.approach__button {
  margin-top: 50px;
  margin-bottom: 0;
}

.approach__photo {
  width: 50%;
  background-image: url("../../images/approach-face.JPG");
  background-size: cover;
  background-position-x: -320px;
}

@media (max-width: 1250px) {
  .approach__list {
    font-size: 23px;
  }
}

@media (max-width: 992px) {
  .approach {
    min-height: 935px;
  }
  .approach__container {
    max-height: 575px;
  }
  .approach__list {
    width: 100%;
  }
  .approach__list {
    padding-left: 0;
  }
  .approach__list li::after {
    margin-top: 75px;
  }
  .approach__button {
    margin-top: 0;
  }
  .approach__photo {
    display: none;
  }
}

@media (max-width: 576px) {
  .approach {
    min-height: 640px;
  }
  .approach__container {
    min-height: 420px;
  }
  .approach__list {
    font-size: 18px;
  }
  .approach__list li::after {
    margin-top: 25px;
    width: 28px;
    height: 55px;
  }
}

.experience {
  background-color: #121212;
}

.experience__title {
  color: #C7C7C7;
}

.experience__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 700px;
}

.experience__photo {
  width: 50%;
  background-image: url("../../images/experience-pic.JPG");
  background-size: cover;
}

.experience__list {
  width: 50%;
  color: #C7C7C7;
  font-size: 30px;
  padding-right: 20px;
}

.experience__list li {
  margin-bottom: 24px;
}

@media (max-width: 1250px) {
  .experience__photo {
    background-position-x: -140px;
  }
  .experience__list {
    font-size: 27px;
  }
}

@media (max-width: 992px) {
  .experience__container {
    min-height: 600px;
  }
  .experience__photo {
    display: none;
  }
  .experience__list {
    padding-left: 0;
    padding-right: 0;
    margin: auto;
    width: 80%;
    font-size: 22px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media (max-width: 768px) {
  .experience__container {
    min-height: 490px;
  }
  .experience__list {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    width: 50%;
    margin-top: 15px;
    margin-bottom: 25px;
    font-size: 23px;
  }
  .experience__button {
    margin-bottom: 0;
  }
}

@media (max-width: 576px) {
  .experience__list {
    width: 60%;
    font-size: 18px;
  }
  .experience__button {
    margin-top: 25px;
    margin-bottom: 25px;
  }
}

@media (max-width: 440px) {
  .experience__list {
    width: 80%;
  }
}

.consultation {
  background: -webkit-gradient(linear, left bottom, left top, from(#121212), color-stop(50%, #121212), color-stop(50%, #121212), color-stop(50%, #C7C7C7), to(#C7C7C7));
  background: linear-gradient(to top, #121212 0%, #121212 50%, #121212 50%, #C7C7C7 50%, #C7C7C7 100%);
  min-height: 804px;
}

.consultation__title {
  margin-bottom: 0;
}

.consultation__slider-global {
  width: 80%;
  margin: auto;
}

.consultation__slider {
  margin-top: 65px;
}

.consultation__item {
  width: 370px;
  margin: auto;
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 100;
}

.consultation__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 3px solid;
  background: #C7C7C7;
}

.consultation__image {
  width: 70%;
}

.consultation__label {
  font-size: 27px;
  color: #121212;
}

@media (max-width: 992px) {
  .consultation {
    min-height: 685px;
  }
  .consultation__content {
    width: 395px;
  }
  .consultation__image {
    width: 65%;
  }
  .consultation__label {
    font-size: 24px;
  }
}

@media (max-width: 768px) {
  .consultation {
    min-height: 655px;
  }
  .consultation__slider-global {
    width: 100%;
  }
  .consultation__content {
    width: 320px;
  }
  .consultation__image {
    margin-top: 20px;
    width: 55%;
  }
}

@media (max-width: 576px) {
  .consultation {
    min-height: 684px;
  }
  .consultation__content {
    width: 250px;
    min-height: 395px;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .consultation__label {
    font-size: 18px;
  }
  .consultation__button {
    width: 200px;
    height: 40px;
    font-size: 18px;
  }
}

/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0;
}

/**
 * Render the `main` element consistently in IE.
 */
main {
  display: block;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
   ========================================================================== */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/* Text-level semantics
   ========================================================================== */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
  /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
   ========================================================================== */
/**
 * Remove the border on images inside links in IE 10.
 */
img {
  border-style: none;
}

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */
[type="checkbox"],
[type="radio"] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}

/* Misc
   ========================================================================== */
/**
 * Add the correct display in IE 10+.
 */
template {
  display: none;
}

/**
 * Add the correct display in IE 10.
 */
[hidden] {
  display: none;
}

.container {
  margin: auto;
  max-width: 1200px;
}

.section-title {
  padding-top: 55px;
  margin-top: 0;
  text-align: center;
  font-size: 65px;
}

@media (max-width: 1250px) {
  .container {
    max-width: 960px;
  }
}

@media (max-width: 992px) {
  .container {
    max-width: 750px;
  }
  .section-title {
    font-size: 40px;
  }
}

@media (max-width: 576px) {
  .container {
    max-width: 300px;
  }
  .section-title {
    font-size: 35px;
  }
}
/*# sourceMappingURL=style.css.map */