.button{
    margin: auto;
    display: block;
    margin-top: 50px;
    margin-bottom: 50px;
    width: 240px;
    height: 60px;

    text-transform: uppercase;
    color: black;

    background-color: #ADB00C;
    border: none;
    outline: none;

    font-size: 22px;
    font-weight: 600;

    cursor: pointer;

    &:hover{
        background-color: darken($color: #ADB00C, $amount: 10);
    }
}