.menu{
    &__box{
        display: block;
        position: fixed;
        visibility: hidden;
        top: 0;
        left: -100%;
        width: 300px;
        height: 100%;
        margin: 0;
        padding: 0 0;
        list-style: none;
        text-align: center;
        background-color: #121212;
        box-shadow: 1px 0px 6px rgba(0, 0, 0, .2);
        z-index: 105;
    }
    &__item{
        display: block;
        padding: 24px 24px;
        color: #C7C7C7;
        font-family: 'Roboto', sans-serif;
        font-size: 35px;
        font-weight: 600;
        text-decoration: none;
        border-bottom: 1px solid #C7C7C7;
        &_contacts{
            width: 70%;
            margin: auto;
            border-bottom: 0px solid #C7C7C7;
            border: 0px solid #fff;
        }
        &_mail{
            margin: 0;
            font-size: 22px;
        }
        &:hover{
            background-color: #CFD8DC;
        }
    }
    &__btn{
        display: flex; 
        align-items: center;  
        position: fixed;
        top: 20px;
        right: 30px;
        width: 26px;
        height: 26px;
        cursor: pointer;
        z-index: 1;
    }
}

.menu__btn > span,
.menu__btn > span::before,
.menu__btn > span::after {
  display: block;
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #000;
}
.menu__btn > span::before {
  content: '';
  top: -8px;
}
.menu__btn > span::after {
  content: '';
  top: 8px;
}

.menu__btn > span,
.menu__btn > span::before,
.menu__btn > span::after {
  transition-duration: .25s;
}
.menu__box {
  transition-duration: .25s;
}
.menu__item {
  transition-duration: .25s;
}

#menu__toggle{
    opacity: 0;
}

#menu__toggle:checked ~ .menu__btn > span {
    transform: rotate(45deg);
  }
  #menu__toggle:checked ~ .menu__btn > span::before {
    top: 0;
    transform: rotate(0);
  }
  #menu__toggle:checked ~ .menu__btn > span::after {
    top: 0;
    transform: rotate(90deg);
  }
  #menu__toggle:checked ~ .menu__box {
    visibility: visible;
    left: 0;
  }

@media (max-width: 576px){
    .menu{
        &__box{
            width: 240px;
            z-index: 106;
            
        }
        &__item{
            font-size: 20px;
            &_mail{
                font-size: 17px;
            }
        }
    }
}